.backdrop{
position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.container{
    z-index: 2;
    max-width: fit-content;
    margin: auto;
    margin-top: 5px;
    max-height: 95vh;
    background-color: ghostwhite;
    border-radius: 10px;
}
.image{
max-height: 65vh;
width: auto;
}
@media screen and (max-width:800px) {
    .container{
        margin-top: 2%;
        max-height: fit-content;
        max-width: fit-content;
    }
}