body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body::-webkit-scrollbar {
  width: 15px;
  background-color: ghostwhite;
  border: 1px solid black;
  border-radius: 100vw;
}
body::-webkit-scrollbar-track {
  background-color: none;
  border: 1px solid gray;
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vw;
  margin: 5px;
  padding: 5px;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: ghostwhite;
  border: 1px solid black;
  border-radius: 100vw;
}

*::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 100vw;
}

*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vw;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column>img {
  background: grey;
  margin-bottom: 30px;
}